html,
body {
    height: 100%;
}

body {
    background: var(--grey-bg);
}

::selection {
    background-color: var(--bright-text);
    color: purple;
}

::placeholder {
    color: var(--grey-txt);
    opacity: 0.5;
}

input[type="checkbox"]:checked+label {
    color: purple;
    font-weight: 700;
}

.datalist input[type="checkbox"]:checked+label {
    text-decoration: line-through;
    font-weight: 700;
}

input[type="radio"]:checked+label {
    color: var(--bright-text);
    font-weight: 600;
}

input:focus {
    box-shadow: inset var(--bright-text) 2px 2px 10px;
}

/*input:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}*/

/* Show green borders when valid */
input:valid {
    border-color: hsl(120, 76%, 50%);
}


:required {
    border-color: hsl(0, 76%, 50%);
}

input[type="radio"]:focus {
    box-shadow: none;
}

body>footer {
    position: sticky;
    top: 100vh;
}

input {
    display: inline-block;
    font-weight: 600;
}

header {
    margin-bottom: 100px;
}

.footer {
    position: sticky
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-wrapper {
    margin-bottom: 100px;
    width: 700px;
    margin: 0 auto;
    background: #F4F5F6;
    border-radius: 50px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 700px;
    margin-top: 50px;
}

.btn {
    width: 208px;
    height: 60px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: var(--dark-text);
    display: block;
    border: 1px solid var(--bright-text);
    box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
    border-radius: 14px;
    background: var(--bright-text);
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
}

.btn-send:hover {
    background: var(--dark-text);
    color: white;
    border: 1px solid var(--dark-text);
    box-shadow: 0px 3px 18px var(--dark-text);
    background: var(--dark-text);
}

.form__legend {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: var(--dark-text)
}

.form__text {
    font-weight: 500;
    font-size: 18px;
    color: var(--dark-text)
}

.form__input-checkbox {
    font-weight: 500;
    font-size: 18px;
    margin-left: 2px;
}

.checkbox-section {
    margin-bottom: 10px;
    padding-left: 40px;
}

.form__input-checkbox {
    margin-right: 2px;
}

.btn-disabled {
    background: grey;
    border: none;
    box-shadow: none;
}

.form__input-radio {
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 10px;
}

.form__contact-details {
    width: 350px;
    box-shadow: 3px 4px 7px rebeccapurple;
}

.form__personal-info{
    box-shadow: 3px 4px 7px var(--bright-text);
}

.term {
    font-weight: 500;
    text-align: center;
}

dl {
    color: var(--dark-text);
}

dt.term {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

dt::first-letter {
    font-size: 30px;
    color: var(--bright-text);
}

dd::before {
    content: "🛈";
    margin-right: 8px;
    font-size: 20px;
    font-weight: 500;
}

.term__definition {
    text-align: justify;
    margin-bottom: 25px;
}

.datalist .form__input-checkbox:nth-child(2n),
.datalist label:nth-child(2n) {
    background: pink;
}